main{
    background: #273978;
    width: 50%;
    margin: 2vh auto;
    font-family:'BIZ UDPGothic', sans-serif; 
    color: white;
    padding: 1% 0;
    text-align: center;

}
h1{
    font-size: 4em;
    margin: 0 auto 1vh;
}
section{
    display: flex;
    justify-content: space-around;
}
figure{
    width: 25%;
    margin: 1vh 2vw;

}
figcaption{
    font-size: 1.5em;
    
}
img{
    width: 200px;
}