.container{
    background: #273978;
    width: 50%;
    margin: 2vh auto;
    font-family: 'Macondo', cursive;
    color: white;
    padding: 1% 0;
    text-align: center;
}
h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 1vh;
}
main{
    width: 90%;
    margin: auto;
}
figure {
    float: left;
    width: 22%;
    margin: 1vh 2vw;
}
figcaption {
    font-size: 1.5em;
}
img {
    width: 200px;
}
.clear{
    clear: both;
}